@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');


.item1 { grid-area: header;}
.itam2 { grid-area: row;}
.itam3 { grid-area: main;}
.itam4 { grid-area: aside;}
.itam5 { grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header header header header'
  'row row main main aside aside'
  'footer footer footer footer footer footer';
  gap: 5px;
  padding: 10px; 
}


* {
  box-sizing: border-box;
  }
  
.row1::after {
  content: "";
  clear: both;
  display: table;
}
  
[class*="col-"] {
  float: left;
  padding: 15px;
}
    
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6397ac;
  font-family: "Macondo Swash Caps", cursive;
  color: #fff;
  padding: 15px;
  display: flex;
  gap: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


.logoandheadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
}

.slogan {
  font-size: 15px;
  padding-right: 15px;
}

#logoicon {
  width: 50px;
  height: 50px;
  color: #fff;
}

form {
  padding-top: 15px;
  align-items: center;
}
   
#searchbox { 
  top:30%;
  border:solid 3px #fff;
  box-sizing:border-box;
  font-size: 15px;
  height:20px;
  margin-right:15px;
  padding:10px;   
  align-items: right;
  border-radius: 50px;
}

.main {
  font-family: "Merriweather", serif;
}

.menu a {
  text-decoration: none;
  color: #fff;
}
  
.menu {
  font-family: "Macondo Swash Caps", cursive;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
.menu i {
  padding: 8px;
  margin-bottom: 7px;
  color: #fff;
  background-color: #4aa0a4;
  border-bottom-right-radius: 15px;
}
  
.menu i:hover {
  box-shadow: 10px 10px 5px #6397ac;
}

.menu a:hover {
  color:#0547d3;
}

.manue {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  font-family: "Macondo Swash Caps", cursive;
  font-size: 17px;
  text-align: left;
  color: #fff;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  border: none;
}

button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border: none;
  transition: width 2s ease, backround-color 2s ease;
}

button:hover {
  width: 300px;
  background-color: #3ca8ad;
}

.aside {
  background-color: #33b5e5;
  border-bottom-left-radius: 15px;
  padding: 15px;
  color: #fff;
  text-align: center;
  font-size: 17px;
}

.aside a:hover{
  color:#0547d3;
}
  
.footer {
  background-color: #6397ac;
  font-family: "Merriweather", serif;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
  
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
  
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.sidebar a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-family: "Macondo Swash Caps", cursive;
}

.list1 a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.list1 a:hover {
  color: #0547d3;
}

.list2 a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.list2 a:hover {
  color: #0547d3;
}

.lists {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33b5e5;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  gap: 20px;
}

.list1 ul li {
  color: #fff;
  font-size: 15px;
}

.list2 ul li {
  color: #fff;
  font-size: 15px;
}

.list1 {
  padding-top: 20px;
  float: left;
}

.list2 {
  padding-top: 20px;
  overflow: hidden;
}

#headline1 {
  font-family: "Merriweather", serif;
  font-size: 45px;
  text-align: center;
}

#headline1::first-letter {
  font-size: 150%;
  font-weight: bold;
  font-family: "Macondo Swash Caps", cursive;
}

#headline4 {
  font-size: 15px;
  color: #fff;
}

#headline5 {
  font-size: 15px;
  color: #fff;
}
  
#headline4::first-letter {
  font-size: 150%;
  font-weight: bold;
  font-family: "Macondo Swash Caps", cursive;
}
  
#headline5::first-letter {
  font-size: 150%;
  font-weight: bold;
  font-family: "Macondo Swash Caps", cursive;
}

article {
  font-size: 15px;
  font-family: "Merriweather", serif;
}
  
p::first-letter {
  font-size: 150%;
  font-weight: bold;
  font-family: "Macondo Swash Caps", cursive;
}

#img1 , #img2 {
  border-radius: 15px;
}


#img1 , #img2 {
  width: 100%;
  height: auto;
}

#img4 , #img5 {
  width: 300px;
  height: 200px;
  border-radius: 15px;
}

#img5:hover {
  box-shadow: 10px 10px 5px #6397ac;
}

#img4:hover {
  box-shadow: 10px 10px 5px #6397ac;
}

.flex-container1 , .flex-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .flex-container1 , .flex-container2 {
    flex: 100%;
  }
}

#confrbutton {
  background-color: #6397ac;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  border-radius: 50px;
  font-family: "Macondo Swash Caps", cursive;
}

#confrbutton:hover {
  color:#0547d3;
  opacity: 0.8;
}

.addinfo {
  font-family: "Merriweather", serif;
  font-size: 13px;
}

.addinfo::first-letter {
  font-size: 150%;
  font-weight: bold;
  font-family: "Macondo Swash Caps", cursive;
}



.footer .row2 {
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:#fff;
  font-size: 15px;
}
  
.footer .row2 a{
  text-decoration:none;
  color:#fff;
  transition:0.5s;
}
  
.footer .row2 a:hover{
  color:#0547d3;
  }
  
.footer .row ul{
  width:100%;
}
  
.footer .row2 ul li{
  display:inline-block;
  margin:0px 30px;
}
  
.footer .row2 a i{
  font-size: 30px;
  margin: 1%;
}

.dropbtn {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  font-family: "Macondo Swash Caps", cursive;
  font-size: 17px;
  text-align: left;
  color: #fff;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  border: none;
  transition: width 5s ease, backround-color 5s ease;
}

.dropbtn , .manue {
  width: 275px;
  height: 30px;
}

.dropbtn:hover {
  width: 300px;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 17px;
}

.dropdown-content a {
  color: #fff;
  background-color: #6397ac;
  font-size: 14px;
  font-weight: bolder;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fff;
  border-bottom-right-radius: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


